<div class="section">
  <h1 class="heading"><%= currency.to_s %></h1>
  <% if currency.latest %>
    <div class="row text-block">
      <div class="col bold">
        <div>Date</div>
        <div>Price</div>
        <div>Bid</div>
        <div>Ask</div>
      </div>
      <div class="col right">
        <div><%= currency.latest.price_at %></div>
        <div><%= currency.latest.last %></div>
        <div><%= currency.latest.bid %></div>
        <div><%= currency.latest.ask %></div>
      </div>
    </div>
  <% else %>
    <div class="text-block">No data available. Click 'Capture' button.</div>
  <% end %>
</div>